<div class="about-flow" id="aboutFlow">
  <!-- ONE bean only (starts in intro slot; JS will move it to other slots) -->
  <!-- Chapters -->
  <section class="about-chapter" data-state="intro">
    <div class="about-chapter__wrap">
      <div class="thought">
        <p class="about-step__hint">Scroll to dive ↡</p>
        <p class="dark-text">
          Hi! I’m Gabby 😊 A creator + developer (and co-owner of Scarlet Creative) based in Trinidad &amp; Tobago.
          <br><br>
          I’m deeply passionate about helping people feel less overwhelmed, more supported, and more able to do the work that matters to them.
        </p>
      </div>

      <div class="about-beanSlot">
        <!-- ✅ Bean wrappers are OK to keep -->
        <div class="about-beanMover">
          <div class="about-beanDrift">

            <!-- ✅ THE ONLY BEAN ON THE PAGE -->
            <div id="magical-about-story-bean" class="bean bean--about">
              <div id="eye1"></div>
              <div id="eye2"></div>
              <div id="smile"></div>

              <div class="bean-arm bean-arm--l"></div>
              <div class="bean-arm bean-arm--r"></div>

              <div class="bean-props" aria-hidden="true">
                <div class="bean-question-mark">
                  <svg width="80px" height="80px" viewBox="-2 0 10 10" id="meteor-icon-kit__regular-questionmark-s" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 3C2 3.5523 1.5523 4 1 4C0.44772 4 0 3.5523 0 3C0 1.44772 1.4477 0 3 0C4.5523 0 6 1.44772 6 3C6 4.285 5.5004 4.8678 4.4472 5.3944C4.0004 5.6178 4 5.6183 4 6C4 6.5523 3.5523 7 3 7C2.4477 7 2 6.5523 2 6C2 4.715 2.4996 4.1322 3.5528 3.6056C3.9996 3.3822 4 3.3817 4 3C4 2.55228 3.4477 2 3 2C2.5523 2 2 2.55228 2 3zM3 10C2.4477 10 2 9.5523 2 9C2 8.4477 2.4477 8 3 8C3.5523 8 4 8.4477 4 9C4 9.5523 3.5523 10 3 10z" fill="currentColor"/></svg>
                </div>
                <div class="bean-heart">
                  <!-- License: GPL. Made by dohliam: https://github.com/dohliam/elegant-circles -->
                  <svg height="100px" width="100px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                    viewBox="0 0 64 64" xml:space="preserve">
                  <style type="text/css">
                    .st0{fill:#e7ffd2;}
                    .st1{opacity:0.2;}
                    .st2{fill:#e4d1d6;}
                    .st3{fill:#FF0078;}
                  </style>
                  <g id="Layer_1">
                    <g>
                      <circle class="st0" cx="32" cy="32" r="32"/>
                    </g>
                    <g class="st1">
                      <g>
                        <path class="st2" d="M50,31c-0.1-5.5-4.6-10.4-10.1-10.4c-3.2,0-6,1.7-7.9,4.1c-1.9-2.5-4.7-4.1-7.9-4.1c-5.5,0-10,4.9-10.1,10.4
                          h0c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1c0,0.2,0,0.3,0,0.4c0.5,14.1,17.8,19.8,17.8,19.8S49.4,45.7,50,31.6c0-0.2,0-0.3,0-0.4
                          C50,31.2,50,31.1,50,31C50,31.1,50,31,50,31L50,31z"/>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path class="st3" d="M50,29c-0.1-5.5-4.6-10.4-10.1-10.4c-3.2,0-6,1.7-7.9,4.1c-1.9-2.5-4.7-4.1-7.9-4.1c-5.5,0-10,4.9-10.1,10.4
                          h0c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1c0,0.2,0,0.3,0,0.4c0.5,14.1,17.8,19.8,17.8,19.8S49.4,43.7,50,29.6c0-0.2,0-0.3,0-0.4
                          C50,29.2,50,29.1,50,29C50,29.1,50,29,50,29L50,29z"/>
                      </g>
                    </g>
                  </g>
                  <g id="Layer_2">
                  </g>
                  </svg>
                </div>

                <div class="bean-portal">
                  <div class="portal-rim"></div>
                  <div class="portal-hand"></div>
                </div>

                <div class="bean-handshake" aria-hidden="true">
                  <!-- the "mystery" arm coming from the left fog -->
                  <div class="shake-grip">
                    <div class="shake-arm"></div>
                    <div class="shake-hand"></div>
                  </div>
                  <div class="shake-cloud"></div>
                  <div class="shake-cloud-front"></div>
                </div>
              </div>

              <div class="about-bubbles" aria-hidden="true">
                <span class="b b1"></span><span class="b b2"></span><span class="b b3"></span>
                <span class="b b4"></span><span class="b b5"></span><span class="b b6"></span>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="about-chapter" data-state="mission">
    <div class="about-chapter__wrap">
      <div class="thought">
        <h3>Mission</h3>
        <p class="dark-text">
          A lot of my perspective comes from navigating my own hard seasons and wanting to make things gentler for others.
          <br><br>
          I care about giving a voice to the voiceless, raising awareness, and bringing communities together.
        </p>
      </div>
      <div class="about-beanSlot"></div>
    </div>
  </section>

  <section class="about-chapter" data-state="tidbits">
    <div class="about-chapter__wrap">
      <div class="thought dark-text beam-content">
        <h3>Tidbits</h3>
        <ul>
          <li>𓇼 7 years building + designing things with care</li>
          <li>𓇼 Psychology + research guide my choices</li>
          <li>𓇼 I love working for impact-driven teams + NGOs</li>
          <li>𓇼 I’m big on helping the planet + protecting animals 🌍🐾</li>
        </ul>
        <!-- <div class="about-chips" role="list">
          <span class="about-chip" role="listitem">7 Years</span>
          <span class="about-chip" role="listitem">UI/UX + Motion</span>
          <span class="about-chip" role="listitem">Impact-driven teams</span>
        </div> -->
      </div>
      <div class="about-beanSlot"></div>
    </div>
  </section>

  <section class="about-chapter" data-state="curiosities">
    <div class="about-chapter__wrap">
        <div class="thought dark-text">
          <h3>Curiosities</h3>
          <p>
            I love diving into UI/UX, graphic + motion design, creative development, interactive storytelling, human–computer interaction, psychology,
            software engineering, neuroscience, mycology and botany.
          </p>
        </div>
      <div class="about-beanSlot"></div>
    </div>
  </section>

  <section class="about-chapter" data-state="curiosities2">
    <div class="about-chapter__wrap">
      <div class="thoughts">
        <div class="thought dark-text">
          <p>
            I’m fascinated by how our brains process emotion and information, and how we can design systems that feel kinder and more intuitive.
          </p>
        </div>
        <div class="thought dark-text">
          <p>Also: I’m a water-baby (if you didn't notice heh heh). I adore the ocean, its ecosystems, and the stories it holds.</p>
        </div>
      </div>
      <div class="about-beanSlot"></div>
    </div>
  </section>

  <section class="about-chapter" data-state="cta">
    <div class="about-chapter__wrap">
      <div class="thought dark-text">
        <h3>Want to create something together?</h3>
        <p><a class="about-cta" href="mailto:gabbysewdhan@gmail.com">Say hello ↪</a></p>
      </div>
      <div class="about-beanSlot"></div>
    </div>
  </section>

  <div class="shorelineFx" aria-hidden="true">
    <svg class="shorelineFx__svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <g class="shorelineFx__wash shorelineFx__wash--back shorelineFx__wash--down">
        <path class="shorelineFx__water" d="M0,40 C150,80 300,0 450,40 C600,80 750,0 900,40 C1050,80 1200,0 1350,40 V120 H0 Z" />
        <path class="shorelineFx__foam" d="M0,55 C120,35 240,75 360,55 C480,35 600,75 720,55 C840,35 960,75 1080,55 C1200,35 1320,75 1440,55" />
      </g>
      <g class="shorelineFx__wash shorelineFx__wash--back shorelineFx__wash--down">
        <path class="shorelineFx__water" d="M0,40 C150,80 300,0 450,40 C600,80 750,0 900,40 C1050,80 1200,0 1350,40 V120 H0 Z" />
        <path class="shorelineFx__foam" d="M0,55 C120,35 240,75 360,55 C480,35 600,75 720,55 C840,35 960,75 1080,55 C1200,35 1320,75 1440,55" />
      </g>
    </svg>
  <!-- extra soft foam blobs (adds that “popping” feel) -->
  <div class="shorelineFx__foamBlobs"></div>
</div>


</div>

<script src="{{ '/assets/js/about-flow.js' | relative_url }}" defer></script>
