<!--
Code used for embedding Gumroad on the Hydejack Site. 
Left here for reference, feel free to delete.
-->
<link rel="dns-prefetch" href="https://assets.gumroad.com">
<script type="module">
    let p;
    const promisify = f => x => new Promise(r => f(x).addEventListener('load', r));
    const loadJS = promisify(window.loadJS);
    document.querySelector('hy-push-state').addEventListener('load', () => {
        const io = new IntersectionObserver(async (entries) => {
            if (entries.some(x => x.isIntersecting)) {
                p = p || loadJS('https://gumroad.com/js/gumroad-embed.js');
                await p;
                if (!window.GumroadEmbed) {
                    await new Promise(function check1(res) {
                        if ('createGumroadEmbed' in window) res(window.createGumroadEmbed());
                        else setTimeout(() => check1(res), 200);
                    });
                }
                await new Promise(function check2(res) {
                    if ('GumroadEmbed' in window) res(GumroadEmbed.reload());
                    else setTimeout(() => check2(res), 200);
                });
            }
        }, { rootMargin: '1440px' });
        document.querySelectorAll('.gumroad-product-embed').forEach(el => io.observe(el));
    });
</script>
<script type="module">
    let p;
    const promisify = f => x => new Promise(r => f(x).addEventListener('load', r));
    const loadJS = promisify(window.loadJS);
    document.querySelector('hy-push-state').addEventListener('load', () => {
        const io = new IntersectionObserver(async (entries) => {
            if (entries.some(x => x.isIntersecting)) {
                p = p || loadJS('https://gumroad.com/js/gumroad.js');
                await p;
                if (!window.GumroadOverlay) {
                    await new Promise(function check(res) {
                        if ('createGumroadOverlay' in window) res(window.createGumroadOverlay());
                        else setTimeout(() => check(res), 200);
                    });
                }
            }
        }, { rootMargin: '300px' });
        document.querySelectorAll('.gumroad-button').forEach(el => io.observe(el));
    });
</script>


{% include favicon.html %}

<!-- ZFS Logo -->
<link
  rel="preload"
  as="image"
  href="{{ '/images/ZFS_logo.png' | relative_url }}"
>
<link
  rel="preload"
  as="image"
  href="{{ '/images/ZFS_logo.webp' | relative_url }}"
>

<!-- About Me Image and Hover -->
<link
  rel="preload"
  as="image"
  href="{{ '/images/AboutMe.png' | relative_url }}"
>
<link
  rel="preload"
  as="image"
  href="{{ '/images/AboutMe.webp' | relative_url }}"
>
<link
  rel="preload"
  as="image"
  href="{{ '/images/AboutMe_Hover.png' | relative_url }}"
>
<link
  rel="preload"
  as="image"
  href="{{ '/images/AboutMe_Hover.webp' | relative_url }}"
>

<!-- Portfolio Buttons -->
<link
rel="preload"
as="image"
href="{{ '/images/Projects_Designs/Projects_Neutral.png' | relative_url }}"
>
<link
rel="preload"
as="image"
href="{{ '/images/Projects_Designs/Projects_Neutral.webp' | relative_url }}"
>
<link
rel="preload"
as="image"
href="{{ '/images/Projects_Designs/Projects_Hover.png' | relative_url }}"
>
<link
rel="preload"
as="image"
href="{{ '/images/Projects_Designs/Projects_Hover.webp' | relative_url }}"
>
<link
rel="preload"
as="image"
href="{{ '/images/Projects_Designs/Projects_Active.png' | relative_url }}"
>
<link
rel="preload"
as="image"
href="{{ '/images/Projects_Designs/Projects_Active.webp' | relative_url }}"
>
<link
rel="preload"
as="image"
href="{{ '/images/Projects_Designs/Designs_Neutral.png' | relative_url }}"
>
<link
rel="preload"
as="image"
href="{{ '/images/Projects_Designs/Designs_Neutral.webp' | relative_url }}"
>
<link
rel="preload"
as="image"
href="{{ '/images/Projects_Designs/Designs_Hover.png' | relative_url }}"
>
<link
rel="preload"
as="image"
href="{{ '/images/Projects_Designs/Designs_Hover.webp' | relative_url }}"
>
<link
rel="preload"
as="image"
href="{{ '/images/Projects_Designs/Designs_Active.png' | relative_url }}"
>
<link
rel="preload"
as="image"
href="{{ '/images/Projects_Designs/Designs_Active.webp' | relative_url }}"
>

<!-- Preloader JS -->
<script
  defer
  src="{{ '/assets/js/welcome-loader.js' | relative_url }}">
</script>
