{% include gooey-filter.html %}

<!-- Common JS -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/Flip.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/three@0.152.0/build/three.min.js"></script>
<script defer src="{{ '/assets/js/sidebar-biolume-vanilla.js' | relative_url }}"></script>
<script defer src="{{ '/assets/js/scroll-top.js' | relative_url }}"></script>
<script defer src="{{ '/assets/js/console-love.js' | relative_url }}"></script>
