<div class="ocean-gradient">
    <canvas id="three-canvas"></canvas>

    <div class="ocean-gradient-container">
        <h1>Currently charting this part of the sea…</h1>

        <div class="ocean-gradient-button shift-camera-button">
            <div class="border">
                <div class="left-plane"></div>
                <div class="right-plane"></div>
            </div>
            <div class="text">Want to go on a small adventure?</div>
        </div>
    </div>

    <div class="x-mark">
        <div class="container">
            <div class="left"></div>
            <div class="right"></div>
        </div>
    </div>

    <div class="sky-container">
        <h2>COMING SOON…</h2>
    </div>
</div>
