<p>Here are some technologies I have recently been dabbling in:</p>

<div class="ag-format-container">
  <div class="ag-courses_box">
    <div class="ag-courses_item box">
        <a href="https://rive.app/" target="_blank">
            <span>Rive</span>
        </a>
        <i></i>
    </div>

    <div class="ag-courses_item box">
      <a href="https://www.adobe.com/products/photoshop.html" target="_blank">
        <span>Adobe Photoshop</span>
      </a>
      <i></i>
    </div>

    <div class="ag-courses_item box">
      <a href="https://www.adobe.com/products/illustrator.html" target="_blank">
        <span>Adobe Illustrator</span>
      </a>
      <i></i>
    </div>

    <div class="ag-courses_item box">
      <a href="https://www.figma.com/" target="_blank">
        <span>Figma</span>
      </a>
      <i></i>
    </div>

    <div class="ag-courses_item box">
      <a href="https://www.blackmagicdesign.com/products/davinciresolve" target="_blank">
        <span>Davinci Resolve</span>
      </a>
      <i></i>
    </div>

    <div class="ag-courses_item box">
        <a href="https://www.adobe.com/products/aftereffects.html" target="_blank">
            <span>Adobe AfterEffects</span>
        </a>
        <i></i>
    </div>
  </div>
</div>
