.ag-format-container {
  margin: 0 auto;
  padding-top: 20px;
  @media only screen and (max-width: 767px) {
    width: 96%;
  }
}

.ag-courses_box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; // space between items
}

@keyframes animate {
  0% {
    transform: 
      translate(-50%, -75%) 
      rotate(0deg);
  }
  100% {
    transform: 
      translate(-50%, -75%) 
      rotate(360deg);
  }
}

.ag-courses_item {
  flex: 1 1 calc(33.333% - 20px); // 3 per row on desktop
  margin-bottom: 20px;

  @media only screen and (max-width: 979px) {
    flex: 1 1 calc(50% - 20px); // 2 per row on tablets
  }

  @media only screen and (max-width: 639px) {
    flex: 1 1 100%; // 1 per row on mobile
  }
}

  .box {
    transform: translate(0%, 0%);
    position: relative;
    padding: 20px 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    font-size: 14px;
    background-color: rgb(40, 127, 142);
    border-radius: 28px;
    transition: 
        box-shadow 0.4s ease, 
        background-color 0.4s ease, 
        color 0.4s ease;
}

.box:hover{
  background-color: #ffb04c;
}

.box a span {
  color: #fff;
  letter-spacing: 8px;
  font-weight: 600;
}

.box i {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 200px;
  background-color: inherit;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 
    transform 0.4s linear, 
    top 1s linear;
  overflow: hidden;
}

.box i:before,
.box i:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}
.box i:before {
  border-radius: 46%;
  background-color: rgba(20, 20, 20, 0.2);
  animation: animate 5s linear infinite;
}
.box i:after {
  border-radius: 40%;
  background-color: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

.box a,
.box a::after,
.box a::before {
  content: none !important;
  background: none !important;
  text-decoration: none;
}

