// @media handheld and (orientation: landscape), 
//   screen and (max-width: 1000px) {

//   .column_project {
//     flex: 100%;
//     display: block;
//     margin-bottom: 20px;
//   }

// }

.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .7rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .3rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}




span {
  content: "\2192";
}

.indent_skill {
  text-indent: 50px;
}

// .row_project {
//   display: block;
// }

/* Remove extra left and right margins, due to padding */
.row_project {margin: 0 -5px;}

/* Clear floats after the columns */
.row_project:after {
  content: "";
  display: table;
  clear: both;
}

/* Create two equal columns that sits next to each other */
.column_project {
  float: left;
  width: 50%;
  padding: 16px;
}

.column_project_l {
  float: left;
  width: 50%;
  padding-top: 7px;
}

.column_project_l2 {
  float: right;
  // width: 50%;
  padding-top: 2px;
}

.column_skills {
  float: left;
  width: 50%;
  padding-right: 128px;
}

.column_code3 {
  float: left;
  width: 20%;
  padding-right: 16px;
}

.column_code4 {
  float: right;
  width: 78%;
  padding-left: 5px;
}

.column_code {
  float: left;
  width: 30%;
  padding-right: 16px;
}

.column_code2 {
  float: left;
  width: 70%;
  padding-right: 16px;
}


@media screen and (max-width: 600px) {
  .column_project {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .column_skills {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .column_code {
    width: 100%;
    display: block;
    margin-top: -15px;
  }
  .column_code2 {
    width: 100%;
    display: block;
  }
  .column_code3 {
    width: 100%;
    display: block;
    margin-top: -50px;
  }
  .column_code4 {
    width: 100%;
    display: block;
    margin-top: 0px;
    margin-left: -5px;
  }
  .column_project_l {
    width: 100%;
    display: block;
    padding-top: -7px;
  }
  .column_project_l2 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding-top: -2px;
  }
  .indent_skill {
    display: block;
}
}

// @media screen and (max-width: 600px) {
//   .row_project {
//     display: block;
//   }
//   .column_project {
//     width: 100%;
//     display: block;
//     margin-bottom: 20px;
//   }
// }


.card_project {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s;
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  // transition: 0.3s;
  border-radius: 5px;
  width: 75%;
}

.container_project {
  padding: 2px 10px;
}

.card_project:hover {
  transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
}

// .avatar {
//   border-radius: 5px 5px 0 0;
//   border: 0px;
// }

hr, .hr { margin-top: 0px; margin-bottom: 0px; margin:0; padding: 0; padding-bottom: 0; }

img[src~="bordered"] {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   transition: transform 0.3s;
}

img[src~="resume"] {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img[src~="bordered"]:hover {
  transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
}

// For gallery on dcit bootcamp page

.border_img {
  box-sizing: border-box;
}

.row_img > .column_img {
  padding: 0 8px 8px;
}

.row_img:after {
  content: "";
  display: table;
  clear: both;
}

.column_img {
  float: left;
  width: 25%;
}

.column_vid {
  float: left;
  width: 50%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 70px;
    right: 15%;
    top: 11%;
    width: 55%;
    height: 80%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

/* Modal Content */
// .modal-content {
//     position: relative;
//     background-color: #fefefe;
//     margin: auto;
//     padding: 0;
//     width: 75%;
//     /* height: 50%; */
//     max-width: 800px;
// }

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 67%;
    max-width: 800px;
}

// .modal-content {
//   position: relative;
//   background-color: #fefefe;
//   margin: auto;
//   padding: 0;
//   width: 50%;
//   height: 50%;
//   max-width: 800px;
// }

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.mySlides_mentors {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

// img
.gallery {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px 16px;
  color: white;
}

.demo {
  opacity: 0.9;
}

.demo_mentors {
  opacity: 0.9;
}

.active,
.demo:hover {
  opacity: 0.9;
}

.gallery.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// Video Sliders
.mySlides_vid {display:none;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev_vid, .next_vid {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background-color: rgba(0,0,0,1);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next_vid {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev_vid:hover, .next_vid:hover {
  background-color: rgba(0,0,0,0.8);
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev_vid, .next_vid {font-size: 17px}
}

@media only screen and (max-width:700px) {
    .modal {
      right: 0%;
      top: 5%;
      width: 100%;
      height: 100%;
  }


  .modal-content {
      width: 90%;
      max-width: 600px;
  }

  /* The Close Button */
  .close {
    // top: 10px;
    // right: 25px;
    font-size: 25px;
    font-weight: bold;
  }

  .prev_vid, .next_vid {font-size: 13px}
}