// @media handheld and (orientation: landscape), 
//   screen and (max-width: 1000px) {

//   .column_project {
//     flex: 100%;
//     display: block;
//     margin-bottom: 20px;
//   }

// }

.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .7rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .3rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}




span {
  content: "\2192";
}

.indent_skill {
  text-indent: 50px;
}

// .row_project {
//   display: block;
// }

/* Remove extra left and right margins, due to padding */
.row_project {margin: 0 -5px;}

/* Clear floats after the columns */
.row_project:after {
  content: "";
  display: table;
  clear: both;
}

/* Create two equal columns that sits next to each other */
.column_project {
  float: left;
  width: 50%;
  padding: 16px;
}

.column_project_l {
  float: left;
  width: 50%;
  padding-right: 64px;
  padding-bottom: -15px;
}

.column_project_l2 {
  float: right;
  width: 50%;
  padding: 10px;
}

.column_skills {
  float: left;
  width: 50%;
  padding-right: 128px;
}

.column_code3 {
  float: left;
  width: 15%;
  padding-right: 16px;
}

.column_code4 {
  float: left;
  width: 85%;
  margin-top: 20px;
}

.column_code {
  float: left;
  width: 30%;
  padding-right: 16px;
}

.column_code2 {
  float: left;
  width: 70%;
  padding-right: 16px;
}


@media screen and (max-width: 600px) {
  .column_project {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
    .column_skills {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

// @media screen and (max-width: 600px) {
//   .row_project {
//     display: block;
//   }
//   .column_project {
//     width: 100%;
//     display: block;
//     margin-bottom: 20px;
//   }
// }


.card_project {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s;
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  // transition: 0.3s;
  border-radius: 5px;
  width: 75%;
}

.container_project {
  padding: 2px 10px;
}

.card_project:hover {
  transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
}


// .btn_read {  position: absolute;
//   bottom: 0;
//   top: 0;
//   left: 0;
//   right: 0;
//   background: rgba(0, 0, 0, 0.2);
//   color: #fff;
//   visibility: hidden;
//   opacity: 0;
//   border-radius: 5px;

//   /* transition effect. not necessary */
//   transition: opacity .2s, visibility .2s;
// }

// .btn, .card_btn {
//   cursor: pointer;
//   bottom: 8px;
//   // margin-top: 1.5rem;
//   padding: 0.75rem 1.5rem;
//   font-size: 0.65rem;
//   font-weight: bold;
//   letter-spacing: 0.025rem;
//   text-transform: uppercase;
//   color: white;
//   background-color: black;
//   border: none;
//   border-radius: 2px;
// }


// .card:hover .btn_read {
//   visibility: visible;
//   opacity: 1;
// }

// .avatar {
//   border-radius: 5px 5px 0 0;
//   border: 0px;
// }

hr, .hr { margin-top: 0px; margin-bottom: 0px; margin:0; padding: 0; padding-bottom: 0; }

img[src~="bordered"] {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   transition: transform 0.3s;
}

img[src~="resume"] {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img[src~="bordered"]:hover {
  transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
}








// .card {  
//   position: relative;
//   display: flex;
//   align-items: flex-end;
//   overflow: hidden;
//   padding: 1rem;
//   width: 100%;
//   text-align: center;
//   color: whitesmoke;
//   background-color: whitesmoke;
//   box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
//     0 2px 2px rgba(0,0,0,0.1), 
//     0 4px 4px rgba(0,0,0,0.1), 
//     0 8px 8px rgba(0,0,0,0.1),
//     0 16px 16px rgba(0,0,0,0.1);
  
//   // @media (min-width: $bp-md) {
//   //   height: 350px;
//   // }
  
//   &:before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 110%;
//     background-size: cover;
//     background-position: 0 0;
//     transition: transform calc(var(--d) * 1.5) var(--e);
//     pointer-events: none;
//   }
  
//   &:after {
//     content: '';
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 200%;
//     pointer-events: none;
//     background-image: linear-gradient(
//       to bottom,
//       hsla(0, 0%, 0%, 0) 0%,
//       hsla(0, 0%, 0%, 0.009) 11.7%,
//       hsla(0, 0%, 0%, 0.034) 22.1%,
//       hsla(0, 0%, 0%, 0.072) 31.2%,
//       hsla(0, 0%, 0%, 0.123) 39.4%,
//       hsla(0, 0%, 0%, 0.182) 46.6%,
//       hsla(0, 0%, 0%, 0.249) 53.1%,
//       hsla(0, 0%, 0%, 0.320) 58.9%,
//       hsla(0, 0%, 0%, 0.394) 64.3%,
//       hsla(0, 0%, 0%, 0.468) 69.3%,
//       hsla(0, 0%, 0%, 0.540) 74.1%,
//       hsla(0, 0%, 0%, 0.607) 78.8%,
//       hsla(0, 0%, 0%, 0.668) 83.6%,
//       hsla(0, 0%, 0%, 0.721) 88.7%,
//       hsla(0, 0%, 0%, 0.762) 94.1%,
//       hsla(0, 0%, 0%, 0.790) 100%
//     );
//     transform: translateY(-50%);
//     transition: transform calc(var(--d) * 2) var(--e);
//  }
  
//   // @each $id in $imageIds {
//   //   $i: index($imageIds, $id);
    
//   //   &:nth-child(#{$i}):before {
//   //     background-image: url(https://images.unsplash.com/photo-#{$id}?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
//   //   }
//   // }
// }

// .container {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 100%;
//   padding: 1rem;
//   transition: transform var(--d) var(--e);
//   z-index: 1;
  
//   > * + * {
//     margin-top: 1rem;
//   }
// }

// .title_card {
//   font-size: 1.3rem;
//   font-weight: bold;
//   line-height: 1.2;
// }

// .copy_card {
//   font-family: var(--font-serif);
//   font-size: 1.125rem;
//   font-style: italic;
//   line-height: 1.35;
// }

// .btntest {
//   cursor: pointer;
//   margin-top: 1.5rem;
//   padding: 0.75rem 1.5rem;
//   font-size: 0.65rem;
//   font-weight: bold;
//   letter-spacing: 0.025rem;
//   text-transform: uppercase;
//   color: white;
//   background-color: black;
//   border: none;
  
//   &:hover {
//     background-color: lighten(black, 5%);
//   }
  
//   &:focus {
//     outline: 1px dashed yellow;
//     outline-offset: 3px;
//   }
// }

// @media (hover: hover) {
//   .card:after {
//     transform: translateY(0);
//   }
  
//   .content {
//     transform: translateY(calc(100% - 4.5rem));
    
//     > *:not(.title) {
//       opacity: 0;
//       transform: translateY(1rem);
//       transition:
//         transform var(--d) var(--e),
//         opacity var(--d) var(--e);
//     }
//   }
  
//   .card:hover,
//   .card:focus-within {
//     align-items: center;

//     &:before { transform: translateY(-4%); }
//     &:after { transform: translateY(-50%); }

//     .content {
//       transform: translateY(0);

//       > *:not(.title) {
//         opacity: 1;
//         transform: translateY(0);
//         transition-delay: calc(var(--d) / 8);
//       }
//     }
//   }
  
//   .card:focus-within {
//     &:before,
//     &:after,
//     .content,
//     .content > *:not(.title) {
//       transition-duration: 0s;
//     }
//   }
// }
